<a href="https://colab.research.google.com/github/codeforhk/python_course/blob/master/py_class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


    
<img src="https://www.codefor.hk/wp-content/themes/DC_CUSTOM_THEME/img/logo-code-for-hk-logo.svg" height="150" width="150"  align="center"/>
<h1><center>Code For Hong Kong - Python class 2</center></h1>
<h6><center>Written by Patrick Leung</center></h6>

# 3.0.0 Recap

### Review 3.0.0 Concepts

- variables (object)
- data types (int, string, float)
- data structure (list, dictionary)

### Review 3.0.0 Homework

a) Try to write a program that generates an eight digit password, which consist of letters a - z

b) To make it more challenging, try write a program that generates an 8 digit password with lower case, upper case, numer and special character

hints: import random

In [0]:
import random


#valid characters
abc = 'abcdefghijklmnopqrstuvwxyz'
abc1 = abc.upper()
num = "1234567890"
spec_char = '!,@#$%.[&*()}'


#combining valid characters
char_list = abc + abc1 + num + spec_char

#get the password length from the user
pass_len= int(input("password generator: " +
                  " how long do you want your password? :"))

#creating empty password
password = ''

#building the password
for i in range(0,pass_len):
    charac = random.choice(char_list)
    password = password + charac

print(password)

How can we do it?

1) First of all, how can you make a random password with just 1 digit?

In [0]:
import random
random.choice('1234567890')

'0'

2) Ok, that's how you can get one password from 1 to 0. How about if I want letters as well?

In [0]:
random.choice('abcdefghijklmnopqrstuvwxyz1234567890')

'r'

3) Ok...but I want the password to have 8 digits. How can I do it?

In [0]:
a = random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()')
b = random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()')
c = random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()')
d = random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()')
e = random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()')
f = random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()')
g = random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()')
h = random.choice('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()')

pw = a+b+c+d+e+f+g+h

4) Right...but that looks ugly! How can I make it simplier?

In [0]:
#define a variable!
characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()'
a = random.choice(characters)

5) But hey, how can I repeat for 8 times? and how can I check if the password contains what I want?

In [0]:
characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()'

pw = ''
for i in range(8):
    pw = pw + random.choice(characters)
pw

')Z2VCg#j'

In [0]:

''.join([random.choice(charactersjk) for i in range(8)])

'*eqWoh%%'

## Test 3.0.0

https://goo.gl/forms/KkEyuIcNZTZifQGT2

# 4.0.0 Python operations

## 4.1.0 if statements



![Image of Yaktocat](https://2.bp.blogspot.com/-bobax-NxaAA/WM_qJ3UQptI/AAAAAAAAdJw/DVqC-jHu1BcSgwRkIhYgPwQrbsDPgVcmgCLcB/s1600/What%2BIf.png)

### 4.1.1 Boolean Values


-  Equal to ==

-  Not equal to !=

-  Less than <

- Greater than >

- Less than or equal to <=

- Greater than or equal to >=

### 4.1.2 Logic for If statement




![Image of Yaktocat](https://cdn.techbeamers.com/wp-content/uploads/2018/08/Python-Decision-Making-If-Elif-Else-Statements.png)

This works a bit like the function in excel

### 4.1.3 Syntax for if statement (Indentation)

the indentation is used to identfy code blocks.
if condition_1 :
    do something 
elif condition_2 :
    do something else
else :
    do something else

![Image of Yaktocat](https://storage.googleapis.com/bwdb/acceleratehk_DSML/class_1/ds19.PNG)

![Image of Yaktocat](https://storage.googleapis.com/bwdb/acceleratehk_DSML/class_1/ds18.PNG)

#### Example 4.1.3

In [0]:
iphone = 9000
samsung = 5000
if(iphone>samsung):
    print('buy Samsung!')
else:
    print('buy iphone!')

buy Samsung!

Write a code to check if you are taller than Cristiano Ronaldo

In [0]:
my_height = 170
Ronaldo_height = 186
if Ronaldo_height>my_height:
  print('ronaldo is taller')
else:
  print('you are taller!')

ronaldo is taller

Write a code to check  if you are old enough to watch R movie

In [0]:
age =input("Enter your age: ")

age = int(age)

if age > 17: 
  print("can see a rated R movie")
elif age < 17 and age > 12:
  print("can see a rated PG-13 movie")
else: 
  print("can only see rated PG movies")

Enter your age: 10
can only see rated PG movies

#### Exercise 4.1.3

1) Try to write a code that checks if you have longer name than "Anusree"

In [0]:
# Your code here

#### Challenge 4.1.3

Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user. Hint: how does an even / odd number react differently when divided by 2?

**hints: modulo operator**

**Extras:**

If the number is a multiple of 4, print out a different message.
Ask the user for two numbers: one number to check (call it num) and one number to divide by (check). If check divides evenly into num, tell that to the user. If not, print a different appropriate message.

In [0]:
#hints
3%2

1

In [0]:
#your code here

num =input("Enter your number: ")

## 4.2.0 For loops

For loop is one of the most important concept in programming

<img src="https://i.gifer.com/SZgP.gif
"/>

### 4.2.1 What is a for loops?


<img src="https://swcarpentry.github.io/python-novice-inflammation/fig/loops_image.png
"/>


<img src="https://nedbatchelder.com/text/iter_pix/004.png
"/>

For loops is a way to ask your computer to repeatedly do a task - until it finished the no. of times to keep on doing the same thing ! (Kind of like a slave!)

#### When do we use for loop?


for loops are traditionally used when you have a block of code which you want to repeat a fixed number of times. The Python for statement iterates over the members of a sequence in order, executing the block each time. Contrast the for statement with the ''while'' loop, used when a condition needs to be checked each iteration, or to repeat a block of code forever. For example:

For loop from 0 to 2, therefore running 3 times.

In [0]:
for x in range(0, 3):
    print("We're on time %d" % (x))

We're on time 0
We're on time 1
We're on time 2

#### Example 4.2.1

Python's for loop can loop through a string or a list.
Let's try to loop throgh my name?

In [0]:
string = "Patrick"
for x in string:
    print(x)

P
a
t
r
i
c
k

#### Exercise 4.2.1

Try finish game 6 - 8

https://studio.code.org/hoc/6

### 4.2.2 Syntax of for loop


<img src="https://www.oreilly.com/library/view/head-first-python/9781491919521/figs/web/027fig02.png.jpg
"/>

#### Example 4.2.2 For loop syntax

for i in some_range:

    do something with i

In [0]:
# An example of the for-loop. Iterate through the numbers 1-11. What do you think this function does?
x = [1,2,3,4,5,6,7,8,9,10]

for i in x:
    if i % 2 == 0: 
        print (i)

In [0]:
## range(i,j) retuns integers beween i and j-1 
range(1,11)

In [0]:
## sum of first 10 integers

result=0
for i in range(1,11):
    result = result+i
    print(result)

1
3
6
10
15
21
28
36
45
55

In [0]:
shopping_list=["bananas", "chocolate", "carrots"]
## lists are iterators. 
## We can automatically loop through list elements without using indexes
for thing in shopping_list:
    print("today I purchased some" + thing)

#### A nested for loop


When you have a block of code you want to run x number of times, then a block of code within that code which you want to run y number of times, you use what is known as a "nested loop". In Python, these are heavily used whenever someone has a list of lists - an iterable object within an iterable object.

In [0]:
for x in range(1, 11):
    for y in range(1, 11):
        print('%d * %d = %d' % (x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [0]:
list_of_lists = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list in list_of_lists:
    for x in list:
        print(x)

1
2
3
4
5
6
7
8
9

#### Mixing for loop & if statement

In [0]:
for i in [1,2,3,4,5,6,7,8,9,10]:
  if i > 5:
    print(i)

6
7
8
9
10

In [0]:
#We can set multiple conditions else, elif
a = ["fido","cow","camel","cat","dog","horse","rabbit","bingo"]
for i in a:
    if i == "fido" or i == "bingo" or i == "dog":
        print("bark!")
    elif i == "cow":
            print("moo!")
    else:
        print("I dunno")

bark!
moo!
I dunno
I dunno
bark!
I dunno
I dunno
bark!

#### Example 4.1.0

In [0]:
import random

abc = 'abcdefghijklmnopqrstuvwxyz'
abc1 = abc.upper()
num = "1234567890"
spec_char = '!,@#$%.[&*()}'
pw_candidate = abc + abc1 + num + spec_char


target = 8
a = ''

# First loop through different choice of characters
for i in [abc, abc1, num, spec_char]:
  a = a + random.choice(i)

# after making sure we have one from each kind, do a random selection on the rest
for i in range(target-len(a)):
  a = a + random.choice(pw_candidate)
a

#### Exercise 4.1.0

a) Try to loop from 1 to 100, and print out when it is divisable by 10
b) Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence.

In [0]:
#a) your code here

In [0]:
#b) Your code here

numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

#### Challenge 4.1.0:

Using "for loops "  and  "if statements " answer the following questions :

- who among us has the longest First name? and how long is it? ...... this is a very tricky exercise as it will imply that we can spell all our names correctly :) :) 

- and what about the shortest name?

These are "probably" our names : 

Xiaoyan ,  Maitreya , Jason , Qihui , Chuck , Jeremy , Mihwa , Lina , Huijun , Raul , Warintra , Abhay

In [0]:
## some tips 

## maybe I want to define a list containing our names 
## and then go through each of the names and see how long they are , and note down the longest one(s).

## 4.3.0 While loop

A while loop is one of the most common types of loop. The main characteristic of a while loop is that it will repeat a set of instructions based on a condition. As far as the loop returns a boolean value of TRUE, the code inside it will keep repeating. We use this kind of loop when we don't know the exact number of times a code needs to be executed.



![Image of Yaktocat](http://diwo.bq.com/wp-content/uploads/2015/03/While-loop-diagram.png)



![Image of Yaktocat](https://blog.penjee.com/wp-content/uploads/2016/04/while-loop-modulo-even-numbers-python-animation.gif)


#### Exercise 4.3.1

Try finish game 9 - 12

https://studio.code.org/hoc/9

In [0]:
n = 10
while n>1:
  print(n)
  n = n-1

10
9
8
7
6
5
4
3
2

In [0]:
n = 10
while n>1:
  print(n)
  break
  n = n-1

10

### 4.4.0 Use of if & loops together

Try finish game 14-20

https://studio.code.org/hoc/14

#### Challenge 4.4.2 

Find the maximum, mean and minimum value of list of intergers without using any precoded mathematical function in Python

## Test 4.0.0

https://goo.gl/forms/jAPGw50cb8zFTAYI3

# 5.0.0 Python Operations Exercise

## Challenge 5.1.0

Find the Mean, Max, Min of a list of integer (E.g [10, -10, 100, 200, 3]), without using any built-in function

In [0]:
# Your code here

## Challenge 5.2.0

Write a function for finding out the factorial of a number that the user inputs.

In [0]:

## maybe I want to define a list containing our names 
## and then go through each of the names and see how long they are , and note down the longest one(s).

## Challenge 5.3.0

Convert a phrase to its acronym.

Techies love their TLA (Three Letter Acronyms)!
Help generate some jargon (words) by writing a program that converts a long name like “Portable Network Graphics” to its acronym “PNG”.
Example: “We love python” => “WLP”

## Challenge 5.4.0

Take two lists, say for example these two:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
  
  b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
  
and write a program that returns a list that contains only the elements that are common between the lists (without duplicates). Make sure your program works on two lists of different sizes.

## Challenge 5.4.0

D.) Given a word, compute the scrabble score for that word.
Letter Values
You'll need these:

Letter                           Value
A, E, I, O, U, L, N, R, S, T       1
D, G                               2
B, C, M, P                         3
F, H, V, W, Y                      4
K                                  5
J, X                               8
Q, Z                               10


Examples
"cabbage" should be scored as worth 14 points:

3 points for C
1 point for A, twice
3 points for B, twice
2 points for G
1 point for E

And to total:
3 + 2*1 + 2*3 + 2 + 1
= 3 + 2 + 6 + 3
= 5 + 9
= 14

# 6.0.0 Python Functions

## 6.1.0 What is a function?

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

 You’re already familiar with the print(), input(), and len() functions from the previous chapters. Python provides several builtin functions like these, but you can also write your own functions.  These functions are called user-defined functions.


![Image of Yaktocat](https://cdn-learn.adafruit.com/assets/assets/000/058/742/medium800/circuitpython_function-big.png?1533749193)

![Image of Yaktocat](https://d2h0cx97tjks2p.cloudfront.net/blogs/wp-content/uploads/sites/2/2018/01/Python-Functions.jpg)

## 6.2.0 The structure and syntax of a function

- Function blocks begin with the keyword def followed by the function name and parentheses ( ( ) ).

- Any input parameters or arguments should be placed within these parentheses. You can also define parameters inside these parentheses.

- The first statement of a function can be an optional statement - the documentation string of the function or docstring.

- The code block within every function starts with a colon (:) and is indented.

- The statement return [expression] exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return None.

![Image of Yaktocat](https://swcarpentry.github.io/python-novice-inflammation/fig/python-function.svg)

![Image of Yaktocat](http://www.informit.com/content/images/chap2_9780134076430/elementLinks/p0215_01.jpg)

In [0]:
>>> def add(x, y):
...     """Return x plus y"""
...     return x + y

In [0]:
def function-name(Parameter list):
    statements, i.e. the function body

Docstring

Calling a Function

## 6.3.0 Local and Global Scope

Local Variables Cannot Be Used in the Global Scope

#### Example 6.3.0 Local and Global Variables with the Same Name

## 6.4.0 Error Handling

The toy examples I’ve show you so far are useful for introducing basic concepts, but now let’s see how everything you’ve learned comes together in a more complete program. In this section, I’ll show you a simple “guess the number” game. When you run this program, the output will look something like this:


I am thinking of a number between 1 and 20.
Take a guess.
10
Your guess is too low.
Take a guess.
15
Your guess is too low.
Take a guess.
17
Your guess is too high.
Take a guess.
16
Good job! You guessed my number in 4 guesses!
Type the following source code into the file editor, and save the file as guessTheNumber.py:

# 7.0.0 Python Recap & advance technique

![Image of Yaktocat](https://cdn.intellipaat.com/mediaFiles/2018/11/Python-Basics-Cheat-Sheet-1-1.png)

## 7.1.0 Loop recap

- You can loop through a list, a string or a range(index)
- If you want to add all operation in a loop into a list, you can throw them inside an empty list

In [0]:
x = 'patrick'

In [0]:
for i in range(len(x)):
    print(x[i])

p
a
t
r
i
c
k

In [0]:
#list
x = 'patrick'
for i in range(len(x)):
    print(i)

0
1
2
3
4
5
6

In [0]:
#list
x = [1,2,3]
for i in x:
    print(i*2)

#string
x = 'data'
for i in x:
    print(i)
    
#index
for i in range(3):
    print(i)

In [0]:
#throw it to empty list
empty_list = [] #this is an empty list
for i in range(3):
    empty_list.append(i)
empty_list

[0, 1, 2]

#### Exercise 7.1.1

Write a loop to multiply every number by 3 in list [1,2,3,4]. Output your answer in a list

In [0]:
x = [1,2,3,4]
#your code here

for i in x:
    print(i*3)

3
6
9
12

In [0]:
[(i*3)  for i in x if i!= 2]

[3, 9, 12]

In [0]:
[(i*3) if i!=2 else i for i in x ]

[3, 2, 9, 12]

### 7.1.2 list comprehension

- In python, there is a efficient way to write loop, which is called the list comprehension. It simply "flatten" the for loop into a one liner. 
- Notice that it is bounded by a square bracket? square bracket is a sign for a 'list', and it is there because list comprehension will always output as a list!

![Image of Yaktocat](http://python-3-patterns-idioms-test.readthedocs.io/en/latest/_images/listComprehensions.gif)

In [0]:
empty_list = []
for i in [1,2,3]:
    empty_list.append(i*2)

In [0]:
[i*2 for i in [1,2,3]]

[2, 4, 6]

In [0]:
firstexample = [i*2 for i in [1,2,3]]
print(firstexample)

secondexample = [i for i in 'data']
print(secondexample)

thirdexample = [i for i in range(3)]
print(thirdexample)

[2, 4, 6]
['d', 'a', 't', 'a']
[0, 1, 2]

#### Example 7.1.2 Convert loop to list comprehension

- Write a for loop that loop from 0 to 3. Skip "2" in the loop
- Transform this loop to list comprehension

In [0]:
empty_list = []
for i in range(4):
    if(i!=2):
        empty_list.append(i)
empty_list

[0, 1, 3]

In [0]:
['double' if i==2 else i for i in range(4)  ]

[0, 1, 'double', 3]

- Write a for loop that loop from 0 to 3. **Convert '2' into '_'**
- Transform this loop to list comprehension

In [0]:
empty_list = []
for i in range(4):
    if(i!=2):
        empty_list.append(i)
    else:
        empty_list.append('_')
empty_list

[0, 1, '_', 3]

In [0]:
#your code here

#### Exercise 7.1.2 Convert loop to list comprehension

convert below to list comprehension

In [0]:
empty_list = []
for i  in 'abc':
    if i=='a':
        empty_list.append('b')
    else:
        empty_list.append(i)
empty_list

['b', 'b', 'c']

In [0]:
#your code here

#### Example 7.1.3 Advance list comprehension

- Given 
x = ['a','b','c','d']
y = [0,1,2,3]
c = 'c'
- if x = c , replace x with the corresponding position in y
- Transform the loop to list comprehension

In [0]:
y = [0,1,2,3]
x = ['a','b','c','d']
c = 'c'

empty_list = []
for i in range(len(y)):
    if(x[i]== 'c'):
        empty_list.append(y[i])
    else:
        empty_list.append(x[i])
print(empty_list)

['a', 'b', 2, 'd']

In [0]:
[y[i] if x[i]==c else x[i] for i in  range(len(y))]

['a', 'b', 2, 'd']

#### Exercise 7.1.3 Advance list comprehension

- Given name = 'data',currentpick = ['_','_','t','_'], playerguess = 'd'
- Write a for loop that loop index. Convert '_' to 'd' in the correct position
- Transform this loop to list comprehension

In [0]:
#your code here

## 7.2.0 While loop recap

In [0]:
n = 10
while n > 5:
    # do sth
    print(n)
    n = n - 1

10
9
8
7
6

In [0]:
live = 8
while  live>0:
    print(live)
    live = live-1

8
7
6
5
4
3
2
1

#### Example 7.2.1  While loop

- write a while loop that breaks if life  =3

In [0]:
live = 5
while  live>0:
    print(live)
    if live==3:
        break
    live = live-1

5
4
3

#### Exercise 7.2.1 While loop

- Write a while loop that go from live = 0 to live = 10. Stop the loop if live >10
- Try to write an infinite loop. How can you do that?

In [0]:
#Your code here

## Test 7.3.0  Test of concept

Q1 Can you fix the bug?

In [0]:
for i in [1,2,3,4]:
    if i ==3:
        print('three')
    else:
        print(i)

SyntaxError: invalid syntax (<ipython-input-19-fe84ed5e44cd>, line 1)

Q2 In the python memory system: 
- what is variable s after you execute the code?
- what is variable x after you execute the code?
- which variable is assigned as 24?

In [0]:
x = 12
s = 1
def this_is_a_function(x):
    s = 10
    x = x*2+s
    print(x)
    return(x)

x = this_is_a_function(7)
x

24

24

Q3 Playing with list
- How do you get the second last object on the list?
- how do I get the length of the list?

In [0]:
x = range(31,9999)
#second last?

Q4 
- How to concatenate list a & b? concatenate them and name it c
- now, multiple every item on the new list by 3

In [0]:
a = [1,2,3]
b = [4,5,6]

In [0]:
a+b

In [0]:
for i in a+b:
    print(i*3)

3
6
9
12
15
18

In [0]:
import numpy as np
np.array(a+b)*3

array([ 3,  6,  9, 12, 15, 18])

Q5 Can you fix the bug? I want to concatenate x and y

In [0]:
x = [1,2,3]
y = [4]
x +y

[1, 2, 3, 4]

Q6 can you fix the bug?

In [0]:
[a if a==3 else '_' for a in [1,2,3] ]

['_', '_', 3]

Q7 Can you fix the bug?

In [0]:
[a  for a in [1,2,3] if a==3  ]

SyntaxError: invalid syntax (<ipython-input-41-78bf3a31660a>, line 1)

## Challenge 7.4.0

#### Challenge 7.4.1

Construct a function that returns all the divisors of the number the user inputs as a list.

 #### Challenge 7.4.2
 
 x = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

a) write a program that prints out all the elements of the list that are less than 5.


b) Instead of printing the elements one by one, make a new list that has all the elements less than 5 from this list in it and print out this new list.


c) Write this in one line of Python.


d)Ask the user for a number and return a list that contains only elements from the original list a that are smaller than that number given by the user.

#### Challenge 7.4.3

Write a program that asks the user how many Fibonnaci numbers to generate and then generates them. Take this opportunity to think about how you can use functions. Make sure to ask the user to enter the number of numbers in the sequence to generate.(Hint: The Fibonnaci seqence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence. The sequence looks like this: 1, 1, 2, 3, 5, 8, 13, …)

#### Challenge 7.4.4

Generate a random number between 1 and 20 (including 1 and 20). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. (Hint: remember to use the user input lessons from the very first exercise)

Extras:

Keep the game going until the user types “exit”
Keep track of how many guesses the user has taken, and when the game ends, print this out.

In [22]:
# This is a guess the number game.
import random
secretNumber = random.randint(1, 20)
print('I am thinking of a number between 1 and 20.')

# Ask the player to guess 6 times.
for guessesTaken in range(1, 7):
    print('Take a guess.')
    guess = int(input())

    if guess < secretNumber:
        print('Your guess is too low.')
    elif guess > secretNumber:
        print('Your guess is too high.')
    else:
        break    # This condition is the correct guess!

if guess == secretNumber:
    print('Good job! You guessed my number in ' + str(guessesTaken) + ' guesses!')
else:
    print('Nope. The number I was thinking of was ' + str(secretNumber))
#Let’s look at this code line by line, starting at the top.

I am thinking of a number between 1 and 20.
Take a guess.
10
Your guess is too low.
Take a guess.
15
Your guess is too low.
Take a guess.
18
Your guess is too high.
Take a guess.
17
Your guess is too high.
Take a guess.
16
Good job! You guessed my number in 5 guesses!

#### Challenge 7.4.5

Hangman

## Take home exercise

Finish Hangman!