<a href="https://colab.research.google.com/github/codeforhk/python_course/blob/master/py_class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


    
<img src="https://www.codefor.hk/wp-content/themes/DC_CUSTOM_THEME/img/logo-code-for-hk-logo.svg" height="150" width="150"  align="center"/>
<h1><center>Code For Hong Kong - Python class 2</center></h1>
<h6><center>Written by Patrick Leung</center></h6>

# 3.0.0 Python Data Structure (List, Dictionary, Tuple, Dataframe)

**What is a data structure?**

In computer science, a data structure is a data organization, management and storage format that enables efficient access and modification.

In laymen terms, it is the way how you organise your data.


In python, the most common data structure includes **List, Dictionary, Tuple & DataFrame**

You can check the official documents below
https://docs.python.org/3/tutorial/datastructures.html

<img src="https://storage.googleapis.com/bwdb/acceleratehk/python_class/Screen%20Shot%202017-10-21%20at%2012.26.59%20AM.png"/>

## 3.1.0 List

**What is a list?**

<img src="https://www.w3resource.com/w3r_images/python-lists-structure.png"/>

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].

Lists are great to use when you want to work with many related values. They enable you to keep data together that belongs together, condense your code, and perform the same methods and operations on multiple values at once.

When thinking about Python lists and other data structures that are types of collections, it is useful to consider all the different collections you have on your computer: your assortment of files, your song playlists, your browser bookmarks, your emails, the collection of videos you can access on a streaming service, and more.

In [0]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']
print(sea_creatures)

['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']

### 3.1.1 Python list syntax

Python list is bounded by square brackets

<img src="https://cdn.techbeamers.com/wp-content/uploads/2018/03/Python-List-A-Beginners-Guide-to-Get-Started-Quickly.png"/>

<img src="https://cdn.filestackcontent.com/5aQg9m9zQYOjvta9UMUf"/>

In [0]:
num_list = [1,2,3,4,5]

#### Example 3.1.1

Let's say I want to name a list of students & add to the object called python class

In [0]:
python_class = ['Tommy', "Sonia", "Maria", "Jeremie"]
print(python_class)

['Tommy', 'Sonia', 'Maria', 'Jeremie']

#### Exercise 3.1.1
1) Let's say I want to name a list of instructors & add to the object called python_class_instructors

we have Patrick, Rein & Anushree

In [0]:
#fill in the gap
python_class_instructors =

### 3.1.2 Python list & index

Python list can be selected by index (it begins in zero!)

In [0]:
num_list = [1,2,3,4,5]
print(num_list[0]) # use square bracket to indicate anything "index". index begins at 0 - 
# and this expression is trying to get the first item from the list!

#This to select the second item
print(num_list[1])

#This to select the last item
print(num_list[-1])

1
2
5

In python, you can select more than one index by making use ":"

In [0]:
#And this is how to selet more than one list
print(num_list[0:5])
print(num_list[3:])
print(num_list[:3])

#### Example 3.1.2

1) Let's say I want to find the first student from my class

2) Let's say I want to find the first 3 students from my class

3) Let's say I want to find the last 2 students from my class

In [0]:
python_class = ['Tommy', "Sonia", "Maria", "Jeremie"]
#First student
python_class[0] # It begins in 0!

#First three student
python_class[0:3]

#Last 2 students
python_class[-2:]

['Maria', 'Jeremie']

#### Exercise 3.1.2

1) Let's say I want to find the 5th sea_creatures from my list

2) Let's say I want to find the first 3 sea_creatures from my list

3) Let's say I want to find the 2-4th seacreatures from my list

In [0]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']
#your code here

### 3.1.3 How to find the length of the list?
 Length of python list can be obtained by len()

In [0]:
num_list = [1,2,3,4,5]
len(num_list)

5

#### Exercise  3.1.3
Try to find the number of sea_creatures in the list

In [0]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']
len(sea_creatures)

5

### 3.1.4 Manipulating the list

#### Example 3.1.4

Item can be removed by remove()

In [0]:
num_list = [1,2,3,4,5]
num_list.remove(1)
print(num_list)

[2, 3, 4, 5]

item can be added by append()

In [0]:
num_list.append(1)
print(num_list)

[2, 3, 4, 5, 1]

In [0]:
#use append

empty_list = []
empty_list.append(1)
empty_list.append(2.0)
empty_list.append('three')
print(empty_list)

[1, 2.0, 'three']

In [0]:
# To sort the list, use .sort()

num = [100,-20,1,2,3,1]
num.sort()
print(num)

[-20, 1, 2, 3, 100]

In [0]:
# To find the max, use .max()

num = [100,-20,1,2,3,1]
print(max(num))

100

In [0]:
# To count a certain item, use count
num = [100,-20,1,2,3,1]
num.count(1)

2

To combine 2 lists, you can simple use "+"

In [0]:
asia = ["china", "japan", "india"]
europe = ["france", "germany", "italy"]
asia + europe

['china', 'japan', 'india', 'france', 'germany', 'italy']

In [0]:
hkisland = ['Central','Wanchai']
kowloon = ['tst','mong kok']
hk = hkisland+kowloon
hk

['Central', 'Wanchai', 'tst', 'mong kok']

### 3.1.5 Creating complicated list

You can create a complicated list, for example a list of list

In [0]:
a = 1
b = 2
c = [3,4,5]
[a,b,c]

[1, 2, [3, 4, 5]]

### 3.1.6 Working with strings & list

You can also split string to create a list

In [0]:
shape_of_you = "The club isn't the best place to find a lover.  So the bar is where I go (mmmm).  Me and my friends at the table doing shots.  Drinking fast and then we talk slow (mmmm).  And you come over and start up a conversation with just me.  And trust me I'll give it a chance now (mmmm).  Take my hand, stop, put Van The Man on the jukebox.  And then we start to dance.  And now I'm singing like.  .  Girl, you know I want your love.  Your love was handmade for somebody like me.  Come on now, follow my lead.  I may be crazy, don't mind me.  Say, boy, let's not talk too much.  Grab on my waist and put that body on me.  Come on now, follow my lead.  Come, come on now, follow my lead (mmmm).  .  I'm in love with the shape of you.  We push and pull like a magnet do.  Although my heart is falling too.  I'm in love with your body.  Last night you were in my room.  And now my bedsheets smell like you.  Every day discovering something brand new.  I'm in love with your body.  .  Oh I oh I oh I oh I.  I'm in love with your body.  Oh I oh I oh I oh I.  I'm in love with your body.  Oh I oh I oh I oh I.  I'm in love with your body.  Every day discovering something brand new.  I'm in love with the shape of you.  .  One week in we let the story begin.  We're going out on our first date (mmmm).  You and me are thrifty, so go all you can eat.  Fill up your bag and I fill up a plate (mmmm).  We talk for hours and hours about the sweet and the sour.  And how your family is doing okay (mmmm).  And leave and get in a taxi, then kiss in the backseat.  Tell the driver make the radio play.  And I'm singing like.  .  Girl, you know I want your love.  Your love was handmade for somebody like me.  Come on now, follow my lead.  I may be crazy, don't mind me.  Say, boy, let's not talk too much.  Grab on my waist and put that body on me.  Come on now, follow my lead.  Come, come on now, follow my lead (mmmm).  .  I'm in love with the shape of you.  We push and pull like a magnet do.  Although my heart is falling too.  I'm in love with your body.  Last night you were in my room.  And now my bedsheets smell like you.  Every day discovering something brand new.  I'm in love with your body.  .  Oh I oh I oh I oh I.  I'm in love with your body.  Oh I oh I oh I oh I.  I'm in love with your body.  Oh I oh I oh I oh I.  I'm in love with your body.  Every day discovering something brand new.  I'm in love with the shape of you.  .  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  .  I'm in love with the shape of you.  We push and pull like a magnet do.  Although my heart is falling too.  I'm in love with your body.  Last night you were in my room.  And now my bedsheets smell like you.  Every day discovering something brand new.  I'm in love with your body.  .  Come on, be my baby, come on.  Come on, be my baby, come on.  I'm in love with your body.  Come on, be my baby, come on.  Come on, be my baby, come on.  I'm in love with your body.  Come on, be my baby, come on.  Come on, be my baby, come on.  I'm in love with your body.  Every day discovering something brand new.  I'm in love with the shape of you"
shape_of_you_list = shape_of_you.split('.')
shape_of_you_list[:3]

["The club isn't the best place to find a lover",
 '  So the bar is where I go (mmmm)',
 '  Me and my friends at the table doing shots']

#### Exercise 3.1.6  - find in the song shape of you
1. Find out the indexes of all the "baby" in the song
2. Make the lyrics as a list. Then, Add the title "SHAPE OF YOU" at the start of the song so it become the first item of the list

In [0]:
# Your code here

## 3.2.0 Dictionary

<img src="https://developers.google.com/edu/python/images/dict.png
"/>

Dictionary is another type of python data structure, which use a "key" to pair with the "value"

### 3.2.1 Dictionary Syntax

Dictionary is so called to "key value pair". You can directly extract the value based on the key

#### Example 3.2.1

In [0]:
#Let's make a dictionary:
mygeobook = {"Country":"USA","Capital":"Washington,Dc","President":"Barack Obama","Region":"China"}

You can query value by the key. It works by using square bracket with the key.

In [0]:
mygeobook['Country']

'USA'

In [0]:
mygeobook['Capital']

'Washington,Dc'

You can change the value of a field by reassigning the value

In [0]:
mygeobook['Region'] = "North America"

In [0]:
mygeobook # Region became North America

{'Capital': 'Washington,Dc',
 'Country': 'USA',
 'President': 'Barack Obama',
 'Region': 'North America'}

Dictionary can also store a list of values. Let's say we want to store the cities in US, and there are more than one city.

In [0]:
mygeobook['City'] = ['new york', 'san fransisco', 'chicago']
mygeobook

{'Capital': 'Washington,Dc',
 'City': ['new york', 'san fransisco', 'chicago'],
 'Country': 'USA',
 'President': 'Barack Obama',
 'Region': 'North America'}

#### Exercise 3.2.1

1) Let's make a dictionary called "school", 

and stores these info:

- class =  Python course
- students = Jeremie , Tommy, 
- instructors = Patrick, Anushree, Rein

2) Let's say Patrick got fired and he is no longer an instructor. How can I remove Patrick?

In [0]:
#Your code here

## Challenge 3.3.0

a) Try to write a program that generates an eight digit password, which consist of letters a - z

b) To make it more challenging, try write a program that generates an 8 digit password with lower case, upper case, numer and special character

hints: import random

## Test 3.0.0

https://goo.gl/forms/KkEyuIcNZTZifQGT2

# 4.0.0 Python operations

## 4.1.0 if statements  

Where Indentation matters!!

![Image of Yaktocat](https://storage.googleapis.com/bwdb/acceleratehk_DSML/class_1/ds19.PNG)

![Image of Yaktocat](https://storage.googleapis.com/bwdb/acceleratehk_DSML/class_1/ds18.PNG)

This works a bit like the function in excel

the indentation is used to identfy code blocks.
if condition_1 :
    do something 
elif condition_2 :
    do something else
else :
    do something else

#### Example 4.1.1

In [0]:
iphone = 9000
samsung = 5000
if(iphone>samsung):
    print('buy Samsung!')
else:
    print('buy iphone!')

buy Samsung!

Write a code to check if you are taller than Cristiano Ronaldo

In [0]:
my_height = 170
Ronaldo_height = 186
if Ronaldo_height>my_height:
  print('ronaldo is taller')
else:
  print('you are taller!')

ronaldo is taller

Write a code to check  if you are old enough to watch R movie

In [0]:
age =input("Enter your age: ")

age = int(age)

if age > 17: 
  print("can see a rated R movie")
elif age < 17 and age > 12:
  print("can see a rated PG-13 movie")
else: 
  print("can only see rated PG movies")

Enter your age: 10
can only see rated PG movies

#### Exercise 4.1.1

1) Try to write a code that checks if you have longer name than "Anusree"

#### Challenge 4.1.1 

Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user. Hint: how does an even / odd number react differently when divided by 2?

**hints: modulo operator**

**Extras:**

If the number is a multiple of 4, print out a different message.
Ask the user for two numbers: one number to check (call it num) and one number to divide by (check). If check divides evenly into num, tell that to the user. If not, print a different appropriate message.

In [0]:
#your code here

num =input("Enter your number: ")

## 4.2.0 For loops

### 4.2.1 What is a for loops?


<img src="https://swcarpentry.github.io/python-novice-inflammation/fig/loops_image.png
"/>

For loops is a way to ask your computer to repeatedly do a task - until it finished the no. of times to keep on doing the same thing ! (Kind of like a slave!)

#### Exercise 4.2.1

Try finish game 6 - 8

https://studio.code.org/hoc/6

### 4.2.2 Syntax of for loop


<img src="https://www.oreilly.com/library/view/head-first-python/9781491919521/figs/web/027fig02.png.jpg
"/>

for i in some_range:

    do something with i

In [0]:
# An example of the for-loop. Iterate through the numbers 1-11. What do you think this function does?
x = [1,2,3,4,5,6,7,8,9,10]

for i in x:
    if i % 2 == 0: 
        print (i)

In [0]:
## range(i,j) retuns integers beween i and j-1 
range(1,11)

In [0]:
## sum of first 10 integers

result=0
for i in range(1,11):
    result = result+i
    print(result)

1
3
6
10
15
21
28
36
45
55

In [0]:
shopping_list=["bananas", "chocolate", "carrots"]
## lists are iterators. 
## We can automatically loop through list elements without using indexes
for thing in shopping_list:
    print("today I purchased some" + thing)

#### Challenge 4.0.0:

Using "for loops "  and  "if statements " answer the following questions :

- who among us has the longest First name? and how long is it? ...... this is a very tricky exercise as it will imply that we can spell all our names correctly :) :) 

- and what about the shortest name?

These are "probably" our names : 

Xiaoyan ,  Maitreya , Jason , Qihui , Chuck , Jeremy , Mihwa , Lina , Huijun , Raul , Warintra , Abhay

In [0]:
## some tips 

## maybe I want to define a list containing our names 
## and then go through each of the names and see how long they are , and note down the longest one(s).

## 4.3.0 While loop


#### Exercise 4.3.1

Try finish game 9 - 12

https://studio.code.org/hoc/9

### 4.4.0 Use of if & loops together

Try finish game 14-20

https://studio.code.org/hoc/14



#### Challenge 4.4.1

Using "for loops "  and  "if statements " answer the following questions :

- who among us has the longest First name? and how long is it? ...... this is a very tricky exercise as it will imply that we can spell all our names correctly :) :) 

- and what about the shortest name?

These are "probably" our names : 

Xiaoyan ,  Maitreya , Jason , Qihui , Chuck , Jeremy , Mihwa , Lina , Huijun , Raul , Warintra , Abhay

#### Challenge 4.4.2 

Find the maximum, mean and minimum value of list of intergers without using any precoded mathematical function in Python

## Test 4.0.0

https://goo.gl/forms/jAPGw50cb8zFTAYI3

## Take home exercise

1) You should try finish this at home :)
http://www.practicepython.org/

2) 

a) Try to write a program that generates an eight digit password, which consist of letters a - z
b) To make it more challenging, try write a program that generates an 8 digit password with lower case, upper case, numer and special character

In [0]:
#hints

import random
random.choice(['a','b','c','d','e'])

'b'

# 5.0.0 Python Operations Exercise

## Challenge 5.1.0

Find the Mean, Max, Min of a list of integer (E.g [10, -10, 100, 200, 3]), without using any built-in function

In [0]:
# Your code here

## Challenge 5.2.0

Write a code for finding out the factorial of a number that the user inputs.

120

## Challenge 5.3.0

Convert a phrase to its acronym.

Techies love their TLA (Three Letter Acronyms)!
Help generate some jargon (words) by writing a program that converts a long name like “Portable Network Graphics” to its acronym “PNG”.
Example: “We love python” => “WLP”

## Challenge 5.4.0

Take two lists, say for example these two:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
  
  b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
  
and write a program that returns a list that contains only the elements that are common between the lists (without duplicates). Make sure your program works on two lists of different sizes.

## Challenge 5.4.0

D.) Given a word, compute the scrabble score for that word.
Letter Values
You'll need these:




- A, E, I, O, U, L, N, R, S, T = 1 points
- D, G = 2 points
- B, C, M, P  = 3 points
- F, H, V, W, Y = 4 points
- k = 5 points
- J, X = 8 points
- Q, Z = 10 points


Examples
"cabbage" should be scored as worth 14 points:

3 points for C
1 point for A, twice
3 points for B, twice
2 points for G
1 point for E

And to total:
3 + 2*1 + 2*3 + 2 + 1
= 3 + 2 + 6 + 3
= 5 + 9
= 14

In [0]:
letters = {'A':1,'E':1,'I':1,'O':1,'U':1,'L':1,'N':1,'R':1,'S':1,'T':1,
          'D':2,'G':2,
          'B':3,'C':3,'M':3,'P':3,
          'F':4,'H':4,'V':4,'W':4,'Y':4,
          'K':5,
          'J':8,'X':8,
          'Q':10,'Z':10}

word_input = str(input("type your word: ")).upper()
points = 0

for i in word_input:
    points = points + letters[i]
print(points)

type your word: patrick
15

In [0]:
['a','e','i','o','u']
['d','g']
['b','c','m','p']
['f','h','v','w','y']
['k']
['j','x']
['q','z']

## Challenge 5.5.0 - Goldman Sachs interview

Go through a string and find the first non-duplicate letter.

...and try to go through the list only once!

In [0]:
text = 'aabbccddeefgghhijj'

#define a dictionary to store the data
char = {}
n = 0

#loop through all text once to get the characters count & order of first occurance
for i in text:
  if i not in char.keys():
    char[i] = [1, n]
  else:
    char[i] = [char[i][0]+1, char[i][1]]
  n = n + 1

#loop through the dictionary to find minimum count if occurance ==1  
min_count = min([char[i][1] for i in char.keys() if char[i][0]==1])

#finally find the relevant field in the dictionary
for i in char.keys():
  if char[i][0]==1 and char[i][1]==min_count:
    print(i)

f

In [0]:
# Challenge 5.5.0 - Goldman Sachs interview
str_input = input('Enter a string: ')
print("List of caracters to check:            {}".format(str_input))
    
no_duplicates =''
repeated =''

for i in str_input:
    if i not in no_duplicates:
        no_duplicates = no_duplicates + i
    else:
        repeated = repeated + i
print("The characters without duplicates are: {}".format(no_duplicates))
print("The repeated characters are:           {}".format(repeated))

for i in no_duplicates:
    if i in repeated:
        continue
    else:
        print("The first non-repeated characters is:  {}".format(i))
        break

Enter a string: aabbccdde
List of caracters to check:            aabbccdde
The characters without duplicates are: abcde
The repeated characters are:           abcd
The first non-repeated characters is:  e

0

10

In [0]:
text = 'aabbccddeefgghhijj'


char = {}
n = 0
for i in text:
  if i not in char.keys():
    char[i] = 1
  else:
    char[i] = char[i]+1

In [0]:
char

{'a': 2,
 'b': 2,
 'c': 2,
 'd': 2,
 'e': 2,
 'f': 1,
 'g': 2,
 'h': 2,
 'i': 1,
 'j': 2}

In [0]:
for i in char.keys():
  char[]

{'a': [2, 0],
 'b': [2, 2],
 'c': [2, 4],
 'd': [2, 6],
 'e': [2, 8],
 'f': [1, 10],
 'g': [2, 11],
 'h': [2, 13],
 'i': [1, 15],
 'j': [2, 16]}