In [5]:
from selenium import webdriver
driver = webdriver.Chrome("C:/Users/user/Documents/chromedriver/chromedriver.exe")

In [6]:
driver.get("https://www.linkedin.com/login?fromSignIn=true")

In [12]:
driver.find_element_by_name('session_key').click()
driver.find_element_by_name('session_key').send_keys('edwinchankawing@yahoo.com.hk')

driver.find_element_by_name('session_password').click()
driver.find_element_by_name('session_password').send_keys('_______')
driver.find_element_by_class_name('login__form_action_container').click()

In [47]:
from selenium.webdriver.common.keys import Keys
driver.find_element_by_class_name('search-global-typeahead__input').click()
driver.find_element_by_class_name('search-global-typeahead__input').send_keys('Data Analytics')
driver.find_element_by_class_name('search-global-typeahead__input').send_keys(Keys.RETURN)

In [50]:
#use css to detect the button (website combines of HTML,Java,CSS)
driver.find_elements_by_css_selector('#ember6484 > span')[0].click()

In [80]:
#1 second sleep time allowing Linkedin to finish refreshing the page
from bs4 import BeautifulSoup as bs
import time
time.sleep(1)
soup = bs(driver.page_source, 'lxml')

In [81]:
import pandas as pd

infos1 = soup.find_all('span', class_= 'name actor-name')
infos2=soup.find_all('span', dir_= 'ltr')



l = []
for i in infos1:
  l.append(i.text)
pd.DataFrame(l)

h = []
for i in infos2:
  l.append(i.text)
pd.DataFrame(l)

                 0
0       Derek Tsui
1      Franklin So
2         Reg Chow
3  Pierre Gomeriel
4        David Hui
5        Erin Chan
6         Anki Lam
7       Juliet Lee
8       Heidi Chan
9   Katherine Kwan